<nav class="breadcrumb-nav" aria-label="Breadcrumb">
    <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
            <a href="/" class="breadcrumb-link">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/solutions/" class="breadcrumb-link">Solutions</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/solutions/website-development/" class="breadcrumb-link">Website Development</a>
        </li>
        <li class="breadcrumb-item breadcrumb-current" aria-current="page">
            WordPress Development
        </li>
    </ol>
</nav> 